@import '../../../../../scss/base/font-size.scss';
.review{
    &-item{
        &-action{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            &-list{
                display: flex;
                align-items: center;
                padding: 0rem 0.75rem;
                &-emoji{
                    position: absolute;
                    top: -2.5rem;
                    left: -1.25rem;
                    z-index: 999;
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    background-color: #fff;
                    border: 0.2px solid rgba(0, 0, 0, 0.1);
                    border-radius: 1.25rem;
                    height: auto;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.2s linear;
                    padding: 0.2rem  0.3125rem;
                    & div{
                        width: 1.6rem;
                        height: 1.6rem;
                        &:not(:last-child) {
                            margin-right: 0.4rem;
                        }
                        & img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
            &-item{
                font-weight: 700;
                padding: 0 0.675rem 0 0;
                cursor: pointer;
                position: relative;
                color: rgba(0, 0, 0, 0.6);
                & span{
                    color: rgba(0, 140, 255, 0.648);
                }
                &:hover{
                    & .review-item-action-list-emoji{
                        opacity: 1;
                        visibility: visible;
                    }
                }
                &-time{
                    display: inline;
                    @include font-medium-500;
                    cursor: pointer;
                    // width: max-content !important;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            &-reaction{
                display: flex;
                align-items: center;
                padding: 0 1rem;
                padding: 0.2rem 0.3125rem;
                border-radius: 0.75rem;
                background-color: #fff;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                width: fit-content;
                border: 1.5px solid #fff;
                cursor: pointer;
                &-item{
                    border: 1.5px solid #fff;
                    font-size: 1rem;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 1.3rem;
                    height: 1.3rem;
                    & img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &:last-child{
                        margin-left: 0.5rem;
                    }
                }
            }
        }
    }
}