

.table-bc tr:hover th, .table-hover tbody tr:hover td {
    background-color: rgb(231,245,244);
}

tr{
    cursor: pointer;
}
.table th, .table td{
    padding: 1.25rem 0.8rem !important;
}
.table thead th:nth-child(2),
.table tbody tr td:nth-child(2){
    text-align: left;
}
.table thead th:nth-child(3),
.table tbody tr td:nth-child(3){
    text-align: right;
}
.table thead th:nth-child(4),
.table tbody tr td:nth-child(4){
    text-align: right;
}
