.exchange-table{
    & .ant-pagination {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    width: 100%;
    & table {
      width: 100%;
      overflow: hidden;
      & .ant-table-thead > tr > th {
        background-color: #fafafa;
      }
      & .ant-table-cell-fix-left-first::after,
      .ant-table-cell-fix-left-last::after {
        width: 0;
      }
      & .ant-table-tbody > tr > td,
      .ant-table-thead > tr > th {
        padding: 0.625rem 0.9375rem;
      }
      & .ant-table-tbody > tr > td,
      .ant-table-body > tr > th {
        padding: 0.625rem 0.9375rem;
        cursor: pointer;
      }
    }
}
//small menu mode
@media (max-width: 1405px) {
    .exchange-table {
      & table .ant-table-thead > tr > th:nth-child(8) { //visit 7d
        display: none;
      }
      & table .ant-table-tbody > tr > td:nth-child(8) {
        display: none;
      }
    }
  }

  @media (max-width: 1310px) {
    .exchange-table {
      & table .ant-table-thead > tr > th:nth-child(7) { //visit 30d
        display: none;
      }
      & table .ant-table-tbody > tr > td:nth-child(7) {
        display: none;
      }
    }
  }

  @media (max-width: 1205px) {
    .exchange-table {
      & table .ant-table-thead > tr > th:nth-child(6) { //visit 7d
        display: none;
      }
      & table .ant-table-tbody > tr > td:nth-child(6) {
        display: none;
      }
    }
  }

  @media (max-width: 1120px) {
    .exchange-table {
      & table .ant-table-thead > tr > th:nth-child(4) { //fee txs
        display: none;
      }
      & table .ant-table-tbody > tr > td:nth-child(4) {
        display: none;
      }
    }
  }

  @media (max-width: 945px) {
    .exchange-table {
      & table .ant-table-thead > tr > th:nth-child(3) { //pair count
        display: none;
      }
      & table .ant-table-tbody > tr > td:nth-child(3) {
        display: none;
      }
    }
  }

  @media (max-width: 815px) {
    .exchange-table {
      & table .ant-table-thead > tr > th:nth-child(5) { //volumn 24h
        display: none;
      }
      & table .ant-table-tbody > tr > td:nth-child(5) {
        display: none;
      }
    }
  }

  @media (max-width: 815px) {
    .exchange-table {
      & table .ant-table-thead > tr > th:nth-child(5) { //volumn 24h
        display: none;
      }
      & table .ant-table-tbody > tr > td:nth-child(5) {
        display: none;
      }
    }
  }

  @media (max-width: 500px) {
    .exchange-table {
      & table .ant-table-thead > tr > th:nth-child(2) { //subcategory
        display: none;
      }
      & table .ant-table-tbody > tr > td:nth-child(2) {
        display: none;
      }
    }
  }
  
  @media (max-width: 390px) {
    .exchange-table {
      & table .ant-table-thead > tr > th:last-child { //score
        display: none;
      }
      & table .ant-table-tbody > tr > td:last-child {
        display: none;
      }
    }
  }
  
//big menu mode

@media (max-width: 1790px) {
    .exchange-table {
      & table .ant-table-thead > tr > th:nth-child(7) { //volumn 30d
        display: none;
      }
      & table .ant-table-tbody > tr > td:nth-child(7) {
        display: none;
      }
    }
  }

  @media (max-width: 1645px) {
    .exchange-table {
      & table .ant-table-thead > tr > th:nth-child(6) { //volumn 7d
        display: none;
      }
      & table .ant-table-tbody > tr > td:nth-child(6) {
        display: none;
      }
    }
  }

  @media (max-width: 1255px) {
    .exchange-table {
      & table .ant-table-thead > tr > th:nth-child(4) { //fee txs
        display: none;
      }
      & table .ant-table-tbody > tr > td:nth-child(4) {
        display: none;
      }
    }
  }

  @media (max-width: 1115px) {
    .exchange-table {
      & table .ant-table-thead > tr > th:nth-child(3) { //pair count
        display: none;
      }
      & table .ant-table-tbody > tr > td:nth-child(3) {
        display: none;
      }
    }
  }
