.custom-media-body{
    margin-left: 1rem !important;
}

/* overriden tooltip antd, library antd */
div.ant-tooltip-inner {
    color: #fff !important;
    background-color: #18A594 !important;
    font-family: "poppins", sans-serif, sans-serif !important;
}

.ant-tooltip .ant-tooltip-arrow::after {
    background-color: #18A594 !important;
  }
  