@import '../../../../scss/base/font-size.scss';

.list{
    &-review{
        &-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-title{
                font-size: 1.125rem;
                font-weight: 700;
                color: rgba(0, 0, 0, 0.87);
            }
            &-right{
                display: flex;
                align-items: center;
                &-add{
                    @include font-regular-500;
                    color: rgba(24, 64, 174, 0.766);
                    cursor: pointer;
                }
                &-filter{
                    cursor: pointer;
                    margin-left: 1rem;
                    @include font-regular-500;
                }
            }
            &-popover{
                padding: 0.625rem !important;
                width: 18.75rem !important;
                right: 0 !important;
                &-item{
                    cursor: pointer;
                    padding: 0.6rem !important;
                    border-radius: 0.5rem;
                    transition: all 0.2s linear;
                    margin-bottom: 0.3rem !important;
                    &:hover{
                        background-color: rgba(208, 206, 206, 0.388);
                    }
                    &.active{
                        background-color: rgba(208, 206, 206, 0.388);
                    }
                }
            }
        }
    }
}
.cus-dropdown-item{
    white-space: normal !important;
}
