$mainColor : #039F7F;

.score{
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    // background-color: $mainColor;
    font-weight: bold;
    color: white
}
.badge{
    font-size: 0.875rem !important;
}