.display-block-btn{
    display: block;
}
.display-none-btn{
    display: none;
}
.list-btn{
    position: absolute;
    bottom: 0;
    padding: 1.25rem;
    z-index: 10;
    width: 100%;
}
@media (max-width: 1601.98px) {
    .list-btn{
        padding: 0.8rem;
    }
}
@media (max-width: 63.9375rem) {
    .display-block-btn{
        display: none;
    }
    .display-none-btn{
        display: block;
    }
}