.soon-table-round-sale{
    span{
      font-family: 'poppins', sans-serif;
      color: #A098AE;
      white-space: nowrap;
    }
    .badge{
      color: #fff
    }
  
    thead{
      font-family: 'poppins', sans-serif;
    }
  
    tr:hover{
      cursor: pointer;
    }
  }

  .cus-soon-name{
    width: fit-content;
    max-width: calc(100% - 16rem);
  }
