.dapp-table{
  & .ant-pagination {
      width: 100%;
      display: flex;
      justify-content: center;
  }
  width: 100%;
  & table {
    width: 100%;
    overflow: hidden;
    & .ant-table-thead > tr > th {
      background-color: #fafafa;
    }
    & .ant-table-cell-fix-left-first::after,
    .ant-table-cell-fix-left-last::after {
      width: 0;
    }
    & .ant-table-tbody > tr > td,
    .ant-table-thead > tr > th {
      padding: 0.625rem 0.9375rem;
    }
    & .ant-table-tbody > tr > td,
    .ant-table-body > tr > th {
      padding: 0.625rem 0.9375rem;
      cursor: pointer;
    }
  }
}

//small menu mode
@media (max-width: 1250px) {
  .dapp-table {
    & table .ant-table-thead > tr > th:nth-child(5) {
      display: none;
    }
    & table .ant-table-tbody > tr > td:nth-child(5) {
      display: none;
    }
  }
}

@media (max-width: 1120px) {
  .dapp-table {
    & table .ant-table-thead > tr > th:nth-child(6) {
      display: none;
    }
    & table .ant-table-tbody > tr > td:nth-child(6) {
      display: none;
    }
  }
}

@media (max-width: 1120px) {
  .dapp-table {
    & table .ant-table-thead > tr > th:nth-child(4) {
      display: none;
    }
    & table .ant-table-tbody > tr > td:nth-child(4) {
      display: none;
    }
  }
}

@media (max-width: 900px) {
  .dapp-table {
    & table .ant-table-thead > tr > th:nth-child(2) {
      display: none;
    }
    & table .ant-table-tbody > tr > td:nth-child(2) {
      display: none;
    }
  }
}

@media (max-width: 580px) {
  .dapp-table {
    & table .ant-table-thead > tr > th:nth-child(3) {
      display: none;
    }
    & table .ant-table-tbody > tr > td:nth-child(3) {
      display: none;
    }
  }
}

@media (max-width: 464px) {
  .dapp-table {
    & table .ant-table-thead > tr > th:last-child {
      display: none;
    }
    & table .ant-table-tbody > tr > td:last-child {
      display: none;
    }
  }
}

// expand mode
@media (max-width: 1415px) {
  .dapp-table {
    & table .ant-table-thead > tr > th:nth-child(5) {
      display: none;
    }
    & table .ant-table-tbody > tr > td:nth-child(5) {
      display: none;
    }
  }
}

@media (max-width: 1305px) {
  .dapp-table {
    & table .ant-table-thead > tr > th:nth-child(6) {
      display: none;
    }
    & table .ant-table-tbody > tr > td:nth-child(6) {
      display: none;
    }
  }
}

@media (max-width: 1213px) {
  .dapp-table {
    & table .ant-table-thead > tr > th:nth-child(4) {
      display: none;
    }
    & table .ant-table-tbody > tr > td:nth-child(4) {
      display: none;
    }
  }
}

@media (max-width: 1085px) {
  .dapp-table {
    & table .ant-table-thead > tr > th:nth-child(3) {
      display: none;
    }
    & table .ant-table-tbody > tr > td:nth-child(3) {
      display: none;
    }
  }
}