@import '../../../../scss/base/font-size.scss';
.crypto{
    &-overview{
        &-name{
            width: fit-content;
            max-width: 12.5rem;
            word-break: normal;
            word-wrap: normal;
        }
        &-symbol{
            padding: 0 0.3rem 0 1rem;
            text-transform: uppercase;
            position: relative;
            margin-left: 0.5rem;
            max-width: 12rem;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            &::after{
                position: absolute;
                content: '';
                left: 0;
                top: 50%;
                width: 0.6rem;
                height: 0.15rem;
                background-color: var(--primary) !important;
            }
        }
        &-list{
            margin-left: 1rem;
            line-height: 2;
            &-tags{
                display: flex;
                align-items: center;
                width: 100%;
                flex-wrap: wrap;
                cursor: pointer;
            }
        }
    }
    &-info{
        width: 100%;
        display: flex;
        align-items: flex-start;
        margin: 1rem 0;
        flex-wrap: wrap;
        &-item{
            display: flex;
            align-items: flex-start;
            flex-wrap: nowrap;
            white-space: nowrap;
            &-key{ 
                margin-right: 1rem;
                white-space: nowrap;
                @include font-bold-600;
            }
            &-address{
                display: flex;
                align-items: center;
                & a{
                    display: flex;
                    align-items: center;
                    &:hover{
                        color: #828690;
                    }
                    & .ant-image{
                        display: flex;
                        align-items: center;
                        width: 1.5rem;
                        height: 1.5rem;
                        margin-right: 0.3rem;
                        & img{
                            @include image;
                            border-radius: 50%;
                        }
                    }
                }
                & .anticon{
                    margin-left: 0.6rem;
                }
            }
        }
        &-exchange{
            width: 2.5rem;
            height: 2.5rem;
            cursor: pointer;
            & img{
                @include image;
                border-radius: 50%;
                border: 0.1px solid rgba(0, 0, 0, 0.2);
                background-color: #0082686b;
            }
        }
    }
    &-tag{
        // border-radius: 0.3125rem;
        // border: 0.2px solid rgba(0, 0, 0, 0.1);
        // padding: 0.3rem 0.3125rem;
        // width: fit-content;
        // margin-right: 0.3125rem;
        // margin-bottom: 0.3125rem;
        // font-size: 1.6rem;
        &-item{
            // padding: 0.3125rem 0.625rem;
            // border-radius: 0.3125rem;
            // background-color: rgb(230, 242, 252);
            // margin: 0 0.3125rem 0.3125rem 0;
            // cursor: pointer;
            // transition: all 0.25s linear;
            // position: relative;
            // width: fit-content;
            // font-size: 1rem;
            // &:hover{
            //     & .crypto-tag-item-list{
            //         opacity: 1;
            //         visibility: visible;
            //     }
            // }
            // & .anticon{
            //     margin-left: 0.3125rem;
            //     font-size: 0.875rem;
            // }
            &-list{
                // position: absolute;
                // z-index: 999999;
                // top: 100%;
                // padding: 0.625rem;
                // left: 0;
                // height: auto;
                // text-align: left;
                // min-width: 100%;
                // width: fit-content;
                // background-color: #fff;
                // border-radius: 1rem;
                // padding: 1rem;
                // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                // opacity: 0;
                // visibility: hidden;
                // max-height: 40rem;
                // overflow-y: auto;
                // &::-webkit-scrollbar {
                //     width: 0.6rem;
                //     height: 0.6rem;
                // }
                // &::-webkit-scrollbar-track {
                //     border-radius: 10px;
                // }
                // &::-webkit-scrollbar-thumb {
                //     background: rgba(0, 0, 0, 0.6); 
                //     border-radius: 10px;
                // }
                &-children{
                    // padding: 0.3125rem 1rem;
                    // cursor: pointer;
                    // transition: all 0.2s linear;
                    // white-space: nowrap;
                    // background-color: blue($color: #000000);
                    // &:hover{
                    //     background-color: rgba(0, 229, 255, 0.388);
                    //     border-radius: 0.3rem;
                    // }
                    &-contract{
                        width: fit-content;
                        display: flex !important;
                        align-items: center;
                        & .anticon{
                            margin-left: 0.3rem;
                        }
                        &-address{
                            max-width: 10rem;
                            width: 10rem;
                            color: rgba(0, 0, 0, 0.6);
                            font-size: 0.875rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        // &-decimals{
                        //     width: 10rem;
                        //     padding: 0 0.3125rem;
                        //     // display: block;
                        //     color: rgba(0, 0, 0, 0.6);
                        //     // display: -webkit-box;
                        //     line-height: 1.4;
                        //     font-size: 0.875rem;
                        //     // -webkit-line-clamp: 1;
                        //     // -webkit-box-orient: vertical;
                        //     overflow: hidden;
                        //     text-overflow: ellipsis;
                        // }
                        // &-decimal{
                        //     padding: 0 0.3125rem;
                        // }
                        // &-chain{
                        //     font-size: 0.875rem;
                        //     width: fit-content;
                        //     padding: 0 0.3125rem;
                        //     font-weight: 600;
                        //     color: rgba(0, 0, 0, 0.87);
                        //     text-transform: uppercase;
                        // }
                        & .ant-image{
                            width: 1.25rem;
                            height: 1.25rem;
                            margin-right: 0.6rem;
                            display: flex;
                            align-items: center;
                            & img{
                               @include image;
                                border-radius: 50%;
                                border: 0.1px solid rgba(0, 0, 0, 0.1);
                            }
                        }
                    }
                }
            }
        }
    }
    // &-list{
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    // }
}
.cus-h4{
    display: flex;
    align-items: center;
}
.text-mt-5{
    margin-top: 5rem;
}
.item-list{
    width: calc(100% / 2 - 1rem);
    display: flex;
    align-items: center;
}
@mixin custom-font {
    font-size: 0.9375rem !important;
    font-weight: 500 !important;
}
@mixin custom-width-height-dropdown {
    height: max-content !important;
    min-height: 1.8rem !important;
    min-width: 1.8rem !important;
    line-height: 0;
}
.cus-dropdown{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    padding: 0.1rem !important;
    @include custom-width-height-dropdown;
    &-text{
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        padding: 0.25rem 0.4375rem !important;
        @include custom-width-height-dropdown;
        @include custom-font;
    }
    &-left{
        right: 0 !important;
        left: auto !important;
    }
    &-select{
        padding: 0.1rem 0.4375rem!important;
        @include custom-width-height-dropdown;
        @include custom-font;
    }
    &-menu{
        max-height: 15rem;
        overflow-y: auto !important;
        &::-webkit-scrollbar {
            width: 0.375rem;
            height: 0.375rem;
        }
        &::-webkit-scrollbar-track {
            border-radius: 0.625rem;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.6); 
            border-radius: 0.625rem;
        }
    }
}

// css exchange
.exchange{
    & table{
        @include font-family;
    }
    & .ant-table-wrapper .ant-table-pagination{
        justify-content: center;
    }
    & .ant-pagination .ant-pagination-item,
    & .ant-pagination .ant-pagination-prev,
    .ant-pagination .ant-pagination-next,
    .ant-pagination .ant-pagination-jump-prev,
    .ant-pagination .ant-pagination-jump-next {
        height: 25px;
        min-width: 25px;
        line-height: 23px;
        border-radius: 50%;
        margin-inline-end: 0px
    }
    & .ant-pagination .ant-pagination-prev .ant-pagination-item-link,
    .ant-pagination .ant-pagination-next .ant-pagination-item-link {
        border-radius: 50%;
    }
    &-name{
        &:hover{
            color: #18A594;
        }
        &-title{
            text-align: left;
            width: fit-content;
            max-width: 10rem;
            display: block;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &-source{
        display: flex;
        align-items: center;
        &:hover{
            color: #18A594;
        }
    }
    &-pair{
        color: #18A594;
        &:hover{
            color: #18A594;
        }
    }
    &-no-data{
        width: 2.3rem;
        height: 2.3rem;
        background-color: #18A594;
        color: #fff;
        text-transform: uppercase;
        margin-right: 0.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & .ant-image{
        display: flex;
        align-items: center;
        width: 2.3rem;
        height: 2.3rem;
        margin-right: 0.5rem;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}