@import "../../../../scss/base/font-size.scss";
.cus-card-header {
    width: 100%;
}
.cus-profile-name {
    width: calc(100% - 21rem);
}

.cus-heading {
    width: max-content;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
}
.crypto {
    &-overview {
        &-name {
            width: fit-content;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &-symbol {
            padding: 0 0.3rem 0 1rem;
            text-transform: uppercase;
            position: relative;
            margin-left: 0.5rem;
            max-width: 8rem;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            &::after {
                position: absolute;
                content: "";
                left: 0;
                top: 50%;
                width: 0.6rem;
                height: 0.15rem;
                background-color: var(--primary) !important;
            }
        }
        &-list {
            margin-left: 1rem;
            line-height: 2;
            &-tags {
                display: flex;
                align-items: center;
                width: 100%;
                flex-wrap: wrap;
                cursor: pointer;
            }
        }
    }
    &-info {
        width: 100%;
        display: flex;
        align-items: flex-start;
        margin: 1rem 0;
        flex-wrap: wrap;
        &-item {
            display: flex;
            align-items: flex-start;
            flex-wrap: nowrap;
            white-space: nowrap;
            &-key {
                margin-right: 1rem;
                white-space: nowrap;
                @include font-bold-600;
            }
            &-address {
                display: flex;
                margin-bottom: 0;
                margin-right: 0.8rem;
                align-items: center;
                & a {
                    display: flex;
                    align-items: center;
                    &:hover {
                        color: #828690;
                    }
                    & .ant-image {
                        display: flex;
                        align-items: center;
                        width: 1.5rem;
                        height: 1.5rem;
                        margin-right: 0.3rem;
                        & img {
                            @include image;
                            border-radius: 50%;
                        }
                    }
                }
                & .anticon {
                    margin-left: 0.3rem;
                }
            }
        }
        &-exchange {
            width: 2.5rem;
            height: 2.5rem;
            cursor: pointer;
            & img {
                @include image;
                border-radius: 50%;
                border: 0.1px solid rgba(0, 0, 0, 0.2);
                background-color: #0082686b;
            }
        }
    }
    &-tag {
        &-item {
            &-list {
                &-children {
                    &-contract {
                        width: fit-content;
                        display: flex !important;
                        align-items: center;
                        & .anticon {
                            margin-left: 0.3rem;
                        }
                        &-address {
                            max-width: 10rem;
                            width: 10rem;
                            color: rgba(0, 0, 0, 0.6);
                            font-size: 0.875rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        & .ant-image {
                            width: 1.25rem;
                            height: 1.25rem;
                            margin-right: 0.6rem;
                            display: flex;
                            align-items: center;
                            & img {
                                @include image;
                                border-radius: 50%;
                                border: 0.1px solid rgba(0, 0, 0, 0.1);
                            }
                        }
                    }
                }
            }
        }
    }
}
.cus-h4 {
    display: flex;
    align-items: center;
}
.text-mt-5 {
    margin-top: 5rem;
}
.item-list {
    width: calc(100% / 2 - 1rem);
    display: flex;
    align-items: center;
}
@mixin custom-font {
    font-size: 0.9375rem !important;
    font-weight: 500 !important;
}
@mixin custom-width-height-dropdown {
    height: max-content !important;
    min-height: 1.8rem !important;
    min-width: 1.8rem !important;
    line-height: 0;
}
.cus-dropdown {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    padding: 0.1rem !important;
    @include custom-width-height-dropdown;
    &-text {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        padding: 0.25rem 0.4375rem !important;
        @include custom-width-height-dropdown;
        @include custom-font;
    }
    &-left {
        right: 0 !important;
        left: auto !important;
    }
    &-select {
        padding: 0.1rem 0.4375rem !important;
        @include custom-width-height-dropdown;
        @include custom-font;
    }
    &-menu {
        max-height: 15rem;
        overflow-y: auto !important;
        &::-webkit-scrollbar {
            width: 0.375rem;
            height: 0.375rem;
        }
        &::-webkit-scrollbar-track {
            border-radius: 0.625rem;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.6);
            border-radius: 0.625rem;
        }
    }
}
// .detail-list-social-share{
//     width: 200px;
//     display: flex;
//     align-items: center;
//     flex-wrap: wrap;
//     transform: translate3d(-10px, -20px, 0px) !important;
// }
// .detail-list-social-share .dropdown-item{
//     width: calc(100% / 3 - 0.5rem);
//     margin-right: 0.5rem;
//     margin-bottom: 0.5rem;
//     display: inline !important;
// }
// .detail-list-social-share .dropdown-item:hover, .detail-list-social-share .dropdown-item:focus{
//     background-color:  #fff;
// }
// css exchange
.exchange {
    & table {
        @include font-family;
    }
    & .ant-table-wrapper .ant-table-pagination {
        justify-content: center;
    }
    & .ant-pagination .ant-pagination-item,
    & .ant-pagination .ant-pagination-prev,
    .ant-pagination .ant-pagination-next,
    .ant-pagination .ant-pagination-jump-prev,
    .ant-pagination .ant-pagination-jump-next {
        height: 25px;
        min-width: 25px;
        line-height: 23px;
        border-radius: 50%;
        margin-inline-end: 0px;
    }
    & .ant-pagination .ant-pagination-prev .ant-pagination-item-link,
    .ant-pagination .ant-pagination-next .ant-pagination-item-link {
        border-radius: 50%;
    }
    &-name {
        &:hover {
            color: #18a594;
        }
        &-title {
            text-align: left;
            width: fit-content;
            max-width: 10rem;
            display: block;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &-source {
        display: flex;
        align-items: center;
        &:hover {
            color: #18a594;
        }
    }
    &-pair {
        color: #18a594;
        &:hover {
            color: #18a594;
        }
    }
    &-no-data {
        width: 2.3rem;
        height: 2.3rem;
        background-color: #18a594;
        color: #fff;
        text-transform: uppercase;
        margin-right: 0.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & .ant-image {
        display: flex;
        align-items: center;
        width: 2.3rem;
        height: 2.3rem;
        margin-right: 0.5rem;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}
@media (max-width: 1600.99px) {
    .cus-profile-name {
        width: calc(100% - 23rem);
    }
}
@media (max-width: 1400.99px) {
    .cus-profile-name {
        width: calc(100% - 16rem);
    }
    .detail-button button {
        height: 31px;
    }
}
@media (max-width: 575.99px) {
    .cus-profile-name {
        width: calc(100% - 11.5rem);
    }
    .detail-button {
        flex-direction: column;
        // text-align: right;
        justify-content: right;
        text-align: right;
    }
    .profile-info .profile-details .cus-dropdown {
        top: 0 !important;
        position: relative !important;
        right: 0 !important;
        margin-right: 0 !important;
        margin-left: auto;
    }
    .crypto {
        &-overview {
            &-name {
                max-width: calc(100% - 8rem);
            }
        }
    }
}
