.username-text{
    font-size: 1rem;
    font-weight: 600;
    color: black;
    height: 42px;

  	display: -webkit-box;
  	-webkit-line-clamp: 2;  /* số dòng hiển thị */
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.comment-review{
    margin-bottom: 0px !important;

}

.star-rating{
    margin-bottom: 0px !important;
}

/* Custom review card body */
.cus-review-card-item{
    padding: 1.25rem !important;
}

.cus-review-card:hover{
    transform: scale(1.05);
    transition-duration: 300ms;
}
  
.product-name-text:hover{
    text-decoration: underline;
}

.review-img{
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}

.item-enter {
    opacity: 0;
  }
.item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }

  .review-image{
    height: 20px;

  }
  